.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}
:root[data-mantine-color-scheme="light"] {
    --mantine-color-body: var(--mantine-color-gray-1) !important;
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
    --mantine-color-body: #282827 !important;
}
